<%- contentFor('body') %>

   <script type="text/javascript">
      
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChartLine);

      function drawChartLine() {
       var myArray = [];
       
       myArray.push (["Minutos","Mensagens"]);
	   <% for(var i=0; i < db_data.data.length; i++) { %>
             myArray.push (["<%= db_data.data[i].ano %>",<%= db_data.data[i].qtde %>]);
	   <% } %>
       
       console.table (myArray);
       
       var data = google.visualization.arrayToDataTable(myArray);
        
        var options = {
          title: 'Mensagens por Minuto',
          curveType: 'function',
          legend: { position: 'top' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('graph1'));
    	chart.draw(data, options);
        
      }
    </script>

   <table class="table table-inverse">
      <thead>
        <tr>
          <th>ano</th>
          <th>qtde</th>
         </tr>
      </thead>

      <tbody>
        <% for(var i=0; i < db_data.data.length; i++) { %>
       <tr>

         <td><%= db_data.data[i].ano %></td>
         <td><%= db_data.data[i].qtde %></td>
       </tr>
    <% } %>
      </tbody>

    </table>

	<div id='graph1'>
 
	</div>

	<div id='graph2'>
	</div>

	<div id='graph3'>
	</div>
	


