<%- contentFor('body') %>

   <script type="text/javascript">
      
      google.charts.load('current', {'packages':['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawCharts);

      function drawCharts() {
       
       // ==============================================================
       // Grafico de Barras
       // ==============================================================
        var myArrayBar = [];
        <% if (db_bar) { %>
       		 myArrayBar.push (['Participante', 'Mensagens', 'Caracteres']);
	   		<% for(var i=0; i < db_line.data.length; i++) { %>
        	     myArrayBar.push (["<%= db_bar.data[i].label %>",<%= db_bar.data[i].value %>,<%= db_bar.data[i].value1 %>]);
	  		 <% } %>
       <% } %>
       
	  var dataBar = google.visualization.arrayToDataTable(myArrayBar);

      var barOptions = {
        chart: {
          title: 'Mensagens Enviadas por Participantes',
          subtitle: 'Total de mensagens da sala'
        },
        hAxis: {
          title: 'Total de Mensagens',
          minValue: 0,
        },
        vAxis: {
          title: 'Participantes'
        },
        bars: 'horizontal'
      };
    
      var barChart = new google.charts.Bar(document.getElementById('graph1'));
      barChart.draw(dataBar, barOptions);
       
       //================================
       // Grafico de Linhas
       //================================
       
       var myArrayLine = [];
       <% if (db_line) { %>
       		 myArrayLine.push (["Minutos","Mensagens"]);
	   		<% for(var i=0; i < db_line.data.length; i++) { %>
        	     myArrayLine.push (["<%= db_line.data[i].label %>",<%= db_line.data[i].value %>]);
	  		 <% } %>
       <% } %>
       
       
       var dataLine = google.visualization.arrayToDataTable(myArrayLine);
        
        var optionsLine = {
          title: 'Mensagens por Minuto',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chartLine = new google.visualization.LineChart(document.getElementById('graph3'));
    	chartLine.draw(dataLine, optionsLine);
      }
    </script>

	<div id='graph1'>
 
	</div>

	<div id='graph2'>
	</div>

	<div id='graph3'>
	</div>
	


